Los datos cargados son externos, no son los obtenidos mediante el scrapeo porque han sido proporcionados al haberse caído la web.

In [1]:
# Working with Dataframes
# -----------------------------------------------------------------------
import pandas as pd

# Path configuration for custom module imports
# -----------------------------------------------------------------------
import sys
sys.path.append('../')  # Adds the parent directory to the path for custom module imports

# Import custom functions to work with databases
# -----------------------------------------------------------------------
from src.support_db import create_db, table_creation, data_insertion

### Carga de datos

In [2]:
df_pelis = pd.read_csv('../new_data/peliculas.csv')
df_detalles_pelis = pd.read_csv('../new_data/detalles_peliculas.csv')
df_artista = pd.read_csv('../new_data/pelicula_artista.csv')
df_detalles_artistas = pd.read_csv('../new_data/detalles_artistas.csv')

---

### Veamos los dataframes

In [3]:
df_pelis.head()

    Tipo                         Titulo   Año  Mes         Id generos
0  Movie  Las Travesuras de Super Chido  1990   10  tt0320656  Action
1  Movie            Velai Kidaichiruchu  1990    8  tt0318803  Action
2  Movie                    Sor Batalla  1990    8  tt0320503  Action
3  Movie            Azaad Desh Ke Gulam  1990    4  tt0330019  Action
4  Movie               Suo ming fei dao  1991   11  tt0348147  Action

In [4]:
df_pelis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tipo     1453 non-null   object
 1   Titulo   1453 non-null   object
 2   Año      1453 non-null   int64
 3   Mes      1453 non-null   int64
 4   Id       1453 non-null   object
 5   generos  1453 non-null   object
dtypes: int64(2), object(4)
memory usage: 68.2+ KB

---

In [5]:
df_detalles_pelis.head()

,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd,id_pelicula
0,Las Travesuras de Super Chido,7.7,Alejandro Todd,Óscar FentanesJuan Garrido,Desconocido,1h 35min,tt0320656
1,Velai Kidaichiruchu,5.2,P. Vasu,SathyarajGautamiAnandraj,"Baasha, a gangster, controls a whole village w...",Desconocido,tt0318803
2,Sor Batalla,6.6,Jesús Fragoso Montoya,Fernando Galiana,As punishment for participating in a contest T...,1h 34min,tt0320503
3,Azaad Desh Ke Gulam,5.3,S.A. Chandrashekhar,RekhaRishi KapoorJackie Shroff,"Bharti, a law student from a rich family, live...",2h 33min,tt0330019
4,Suo ming fei dao,NaN,Desconocido,Desconocido,Desconocido,1h 24min,tt0348147

In [6]:
df_detalles_pelis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titulo       1453 non-null   object
 1   cali_imdb    961 non-null    float64
 2   direc_imbd   1453 non-null   object
 3   guion_imbd   1453 non-null   object
 4   argum_imbd   1453 non-null   object
 5   durac_imbd   1453 non-null   object
 6   id_pelicula  1453 non-null   object
dtypes: float64(1), object(6)
memory usage: 79.6+ KB

Realmente estas tablas contienen el mismo número de entradas por lo que podemos juntarlas.

In [7]:
df_pelis_final = df_pelis.merge(df_detalles_pelis, left_on='Id', right_on='id_pelicula')

In [8]:
df_pelis_final.head()

,Tipo,Titulo,Año,Mes,Id,generos,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd,id_pelicula
0,Movie,Las Travesuras de Super Chido,1990,10,tt0320656,Action,Las Travesuras de Super Chido,7.7,Alejandro Todd,Óscar FentanesJuan Garrido,Desconocido,1h 35min,tt0320656
1,Movie,Velai Kidaichiruchu,1990,8,tt0318803,Action,Velai Kidaichiruchu,5.2,P. Vasu,SathyarajGautamiAnandraj,"Baasha, a gangster, controls a whole village w...",Desconocido,tt0318803
2,Movie,Sor Batalla,1990,8,tt0320503,Action,Sor Batalla,6.6,Jesús Fragoso Montoya,Fernando Galiana,As punishment for participating in a contest T...,1h 34min,tt0320503
3,Movie,Azaad Desh Ke Gulam,1990,4,tt0330019,Action,Azaad Desh Ke Gulam,5.3,S.A. Chandrashekhar,RekhaRishi KapoorJackie Shroff,"Bharti, a law student from a rich family, live...",2h 33min,tt0330019
4,Movie,Suo ming fei dao,1991,11,tt0348147,Action,Suo ming fei dao,NaN,Desconocido,Desconocido,Desconocido,1h 24min,tt0348147

In [9]:
df_pelis_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tipo         1453 non-null   object
 1   Titulo       1453 non-null   object
 2   Año          1453 non-null   int64
 3   Mes          1453 non-null   int64
 4   Id           1453 non-null   object
 5   generos      1453 non-null   object
 6   titulo       1453 non-null   object
 7   cali_imdb    961 non-null    float64
 8   direc_imbd   1453 non-null   object
 9   guion_imbd   1453 non-null   object
 10  argum_imbd   1453 non-null   object
 11  durac_imbd   1453 non-null   object
 12  id_pelicula  1453 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 147.7+ KB

---

In [10]:
df_artista.head()

    Movie ID       Actriz_Actor
0  tt0110660  Tony Ka Fai Leung
1  tt0110363       Luke Edwards
2  tt0110397    Jennifer Barker
3  tt0111045        Miklós Déri
4  tt0111653           Joe Bays

In [11]:
df_artista.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14529 entries, 0 to 14528
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie ID      14529 non-null  object
 1   Actriz_Actor  14529 non-null  object
dtypes: object(2)
memory usage: 227.1+ KB

In [12]:
df_artista.drop_duplicates()

         Movie ID       Actriz_Actor
0       tt0110660  Tony Ka Fai Leung
1       tt0110363       Luke Edwards
2       tt0110397    Jennifer Barker
3       tt0111045        Miklós Déri
4       tt0111653           Joe Bays
...           ...                ...
14504  tt10709060   Kendra Kuhnhofer
14514  tt14142640            Prakash
14519  tt18688348    Oleg Primogenov
14522  tt27241513   Georgiy Topolaga
14527  tt27262238    Jacob Schindler

[11231 rows x 2 columns]

---

In [13]:
df_detalles_artistas.head()

,actr,año_nac,conocido_por,que_hace,premios
0,A. Gunaseelan,9999,'Mandela',"Casting Department, Actress, Casting Director",1 nomination
1,A. Michelle Harleston,9999,"'Murder by Numbers', 'The Mark of a Killer', '...",Actor,no tiene premios
2,A.C. Peterson,9999,"'Narc', 'Shanghai Noon', 'Shooter', 'The Last ...",Actor,no tiene premios
3,A.V.S. Subramanyam,1957,"'Roommates', 'Uncle', 'Ori Nee Prema Bangaramk...","Actor, Director, Writer",no tiene premios
4,Øyvind Øvrebø,9999,"'Tingen, Edderkoppen', 'Demenskoret', 'Kristia...","Actress, Additional Crew",no tiene premios

In [14]:
df_detalles_artistas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9907 entries, 0 to 9906
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   actr          9907 non-null   object
 1   año_nac       9907 non-null   int64
 2   conocido_por  9907 non-null   object
 3   que_hace      9907 non-null   object
 4   premios       9907 non-null   object
dtypes: int64(1), object(4)
memory usage: 387.1+ KB

La tabla de artistas es un paso intermedio para relacionarla con las películas, vamos a dejar ambas pero comprobemos que los nombres son únicos y no hay artistas con nombres iguales, lo cual podría ser en cuyo caso la mejor práctica sería asignar un ID a cada artista

In [15]:
df_detalles_artistas['actr'].duplicated().sum()

0

Vemos que no hay nombres duplicados por lo que vamos simplemente a usar el nombre como identificador. En próximos pasos, si queremos que el proyecto sea escalable deberíamos introducir un id único por artista.

Antes de nada veamos los años de nacimiento.

In [16]:
df_detalles_artistas['año_nac'].value_counts()

año_nac
9999    5821
1965     101
1970     101
1969      95
1974      91
        ...
1876       1
1895       1
2009       1
2010       1
1860       1
Name: count, Length: 115, dtype: int64

Parece que hay algunos valores erróneos pero por el momento vamos a dejarlos así. Deberíamos corregirlos con los valores reales pero esto requiere de hacer el scrapeo de los mismos y se supone que estos datos ya están scrapeados, pero en futuros pasos debemos hacer esto.

---

Entonces, ¿qué tablas tenemos?

In [17]:
all(df_pelis_final['Id'] == df_pelis_final['id_pelicula'])

True

Como Id e id_pelicula están repetidos quitamos uno de ellos. Es normal ya que son las columnas por las que hemos unido los originales.

In [18]:
df_pelis_final.drop(columns='id_pelicula', inplace=True)

In [19]:
df_pelis_final[df_pelis_final['Titulo'] != df_pelis_final['titulo']].head()

,Tipo,Titulo,Año,Mes,Id,generos,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd
21,Movie,Kôshoku kunoichi ninpô-chô: Vâjin sunaipâ - bi...,1997,10,tt0288305,Action,KÃ´shoku kunoichi ninpÃ´-chÃ´: VÃ¢jin sunaipÃ¢...,6.0,Mototsugu Watanabe,Takao NakanoMototsugu Watanabe,Toranaga is a good-for-nothing loser but happe...,1h 19min
52,Movie,Camp X-Ray: Ghosts of Guantánamo Bay,2004,9,tt0418587,Action,Camp X-Ray: Ghosts of GuantÃ¡namo Bay,6.0,Desconocido,Desconocido,Desconocido,1h 30min
88,Short,Mashin Sentai Kirameijâ Za Mûbî: Bî-Bappu Dorîmu,2021,2,tt11928952,Action,Mashin Sentai KirameijÃ¢ Za MÃ»bÃ®: BÃ®-Bappu ...,7.1,Kyohei Yamaguchi,Naruhisa Arakawa,Desconocido,39min
117,Movie,Glädjekällan,1993,11,tt0107019,Drama,GlÃ¤djekÃ¤llan,6.5,Richard Hobert,Richard Hobert,This is story about an elderly man whose wife ...,1h 29min
125,Movie,Le fils préféré,1994,12,tt0109800,Drama,Le fils prÃ©fÃ©rÃ©,7.0,Nicole Garcia,Nicole GarciaFrançois DupeyronJacques Fieschi,A film shows a family through an adult man's f...,1h 40min

Vemos que 'titulo' está mal escrito, nos quedamos ocn 'Titulo'

In [20]:
df_pelis_final.drop(columns='titulo', inplace=True)

Vamos a renombrar las columnas

In [21]:
df_pelis_final.columns = ['type', 'title', 'year', 'month', 'id', 'genres', 'score',
       'director', 'writer', 'plot', 'duration']

Vamos a renombrar las columnas de artistas

In [22]:
df_artista.head()

    Movie ID       Actriz_Actor
0  tt0110660  Tony Ka Fai Leung
1  tt0110363       Luke Edwards
2  tt0110397    Jennifer Barker
3  tt0111045        Miklós Déri
4  tt0111653           Joe Bays

In [23]:
df_artista.columns = ['movie_id', 'artist']

Vamos a renombrar las columnas de datalles artistas

In [24]:
df_detalles_artistas.head()

,actr,año_nac,conocido_por,que_hace,premios
0,A. Gunaseelan,9999,'Mandela',"Casting Department, Actress, Casting Director",1 nomination
1,A. Michelle Harleston,9999,"'Murder by Numbers', 'The Mark of a Killer', '...",Actor,no tiene premios
2,A.C. Peterson,9999,"'Narc', 'Shanghai Noon', 'Shooter', 'The Last ...",Actor,no tiene premios
3,A.V.S. Subramanyam,1957,"'Roommates', 'Uncle', 'Ori Nee Prema Bangaramk...","Actor, Director, Writer",no tiene premios
4,Øyvind Øvrebø,9999,"'Tingen, Edderkoppen', 'Demenskoret', 'Kristia...","Actress, Additional Crew",no tiene premios

In [25]:
df_detalles_artistas.columns = ['artist', 'year_birth', 'known_for', 'roles', 'awards']

Nada, vamos a juntas las tablas de los artistas para simplificarlo un poco más.

In [26]:
df_artista_final = df_artista.merge(right=df_detalles_artistas, left_on='artist', right_on='artist')

Vamos a quitar las filas que no tienen datos en artista. Hay algún duplicado de artista pero que puede estar en varias películas a la vez, por ahora simplemente vamos a utilizar el índice como id de la entrada.

In [27]:
df_artista_final = df_artista_final[df_artista_final['artist'] != 'Sin datos'].drop_duplicates().reset_index()

In [28]:
df_artista_final['artist'].duplicated().sum()

513

### DB creation

In [29]:
create_db('peliculas')

Database peliculas created successfully.
Database connection closed.

### Tables creation

In [30]:
# Movies
query_creation_movies = """
CREATE TABLE IF NOT EXISTS movies (
    type VARCHAR(50),
    title VARCHAR(500),
    year INT,
    month INT,
    id VARCHAR(50) primary key,
    genres VARCHAR(200),
    score FLOAT,
    director VARCHAR(400),
    writer VARCHAR(400),
    plot VARCHAR(1000),
    duration VARCHAR(50)
);
"""

# Artists
query_creation_artists = """
CREATE TABLE IF NOT EXISTS artists (
    index INT primary key,
    movie_id VARCHAR(50),
    artist VARCHAR(100) not null,
    year_birth INT,
    known_for VARCHAR(300),
    roles VARCHAR(200),
    awards VARCHAR(200), 
    foreign key (movie_id) references movies(id)
);
"""

# List of queries ordered
queries_creation = [
    query_creation_movies,
    query_creation_artists
    ]

In [31]:
table_creation(queries_creation)

Tables created successfully.
Database connection closed.

### Data insertion

In [32]:
query_insertion_movies = """
INSERT INTO movies (
    type, title, year, month, id, genres, score, director, writer, plot, duration
) VALUES
(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

# Insert query for races table
query_insertion_artists = """
INSERT INTO artists (
    index, movie_id, artist, year_birth, known_for, roles, awards
) VALUES
(%s, %s, %s, %s, %s, %s, %s);
"""

queries_insertion = [
    query_insertion_movies, 
    query_insertion_artists]

In [33]:
values_movies = [tuple(row) for row in df_pelis_final.values]
values_artists = [tuple(row) for row in df_artista_final.values]

values = [values_movies, values_artists]

for i in range(len(values)):
    data_insertion(queries_insertion[i], values[i])

Data inserted successfully.
Database connection closed.
Data inserted successfully.
Database connection closed.